{% extends "base.html" %}
{% block content %}
<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">FileCat</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="/"">提取</a></li>
        <li><a href="/save">我要存文件</a></li>
        <li><a href="/about">关于</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="inner cover">
  <p class="lead">不存在的网页</p>
  <p class="lead">
    <a href="/"><button class="btn btn-danger">点击返回</button></a>
  </p>
</div>
{% endblock %}