{% extends "base.html" %}
{% block content %}
<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">FileCat</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="/">提取</a></li>
        <li><a href="/save">我要存文件</a></li>
        <li class="active"><a>关于</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="inner cover">
  <h2 class="lead">"好的产品应该是用完即走的"</h2>
  <p class="lead">——张小龙</p>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <hr>
    </div>
  </div>
  <p class="lead">希望你能喜欢上这个小工具</p>
</div>
{% endblock %}