{% extends "base.html" %}
{% block content %}
<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">FileCat</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="/"">提取</a></li>
        <li><a href="/save">我要存文件</a></li>
        <li><a href="/about">关于</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Cover</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="/">提取</a></li>
        <li><a href="/save">我要存文件</a></li>
        <li><a href="#">关于</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="inner cover">
	<p class="lead">成功上传文件，提取码为</p>
  <h1>{{code}}</h1>
</div>
{% endblock %}